html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	}

body { 
	color: #1D0C00;
	font-size: 100.0%; 
	font-family: 'Open Sans'Arial,sans-serif; 
	line-height: 1.563; 
	} 

h1 { 
	font-family: 'Titillium Web',Arial,sans-serif; 
	line-height: 1.000; 
	font-size: 2.500em; 
	font-weight: 600; 
	font-style: normal; 
	} 

h2 { 
	font-family: 'Titillium Web',Arial,sans-serif;
	line-height: 1.375; 
	font-size: 1.500em; 
	font-weight: normal; 
	font-style: normal; 
	} 

h3 {
	ffont-family: 'Titillium Web',Arial,sans-serif;
	line-height: 1.375; 
	font-size: 1.25em; 
	font-weight: normal; 
	font-style: normal; 
	} 

p { font-size: 1.000em; 
	font-weight: 300; 
	font-style: normal; 
	}

a:link {
	color:#CD950C;
	text-decoration: none;
	}      

a:visited {
	color:#CD950C;
	text-decoration: none;
	} 

a:hover {
	color:#8B795E;
	text-decoration: underline;
	}  

a:active {
	color:#8B795E;
	text-decoration: none;
	}  

img {
	max-height: 80%;
	max-width: 80%;
	}

.left {
	float: left;
	}	

.right {
	float: right;
	}

/* Content styles ------------------------------------ */

#container {
	/* border: 1px solid red; */
	background-image: url(http://laneh.github.io/pastel-test/images/paper-strip.jpg);
	min-height: 100%;
	position: relative;
	margin-bottom: -100px;
	overflow: hidden; 
	}

#content {
	 /*border: 1px solid blue; */
	margin: auto;
	padding-top: 50px;
	width: 75%;
	} 

/* Header styles ------------------------------------ */

header {
	background-color: #000;
	height: 100px;
	padding-left: 25px;
	padding-top: 25px;
	}

#header-content {
	width: 1200px;
	margin: auto;
	}

/* Footer styles ------------------------------------ */

footer {
	background-color: #000;
	border-top: solid 2px #ddd; 
	bottom: 0;
	font-size: 12px;
    height: 100px;
    padding-left: 25px;
    position: relative;
	}

#footer-content {
	width: 1200px;
	margin: auto;
	}

footer p {
	color: #fff;
	}

.clearfooter {
	height: 50px;
	clear: both;
	}


